/* =========================
   GLOBAL STYLE
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}


body{

    font-family:'Poppins',sans-serif;
    background:#050816;
    color:white;
}


a{
    text-decoration:none;
    color:white;
}


section{
    padding:100px 10%;
}


/* =========================
 NAVBAR
========================= */


header{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;

    background:
    rgba(5,8,22,0.65);

    backdrop-filter:blur(20px);

    border-bottom:
    1px solid rgba(0,245,255,0.15);

}



nav{

    height:90px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 10%;

}



/* LOGO */

.logo{

    font-size:28px;

    font-weight:700;

    letter-spacing:2px;


    background:
    linear-gradient(
        90deg,
        #00f5ff,
        #8a2be2
    );


    -webkit-background-clip:text;

    color:transparent;


    position:relative;

}


.logo::after{

    content:"";

    position:absolute;

    bottom:-8px;

    left:0;

    width:50%;

    height:3px;


    background:#00f5ff;


    box-shadow:
    0 0 15px #00f5ff;


}



/* NAV LINKS */


.nav-links{

    display:flex;

    gap:40px;

}



.nav-links a{


    position:relative;

    font-size:16px;

    color:#ddd;

    transition:.3s;


}



.nav-links a::before{


    content:"";

    position:absolute;

    bottom:-8px;

    left:0;

    width:0;

    height:2px;

    background:#00f5ff;

    transition:.3s;


}



.nav-links a:hover{


    color:#00f5ff;

}



.nav-links a:hover::before{

    width:100%;

}




/* HOVER GLOW */


.nav-links a:hover{

    text-shadow:

    0 0 10px #00f5ff;

}



/* =========================
 HERO
========================= */


.hero{

    height:100vh;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;

    background:
    radial-gradient(circle at top,#182848,#050816);


    position:relative;

}



.overlay{

    position:absolute;
    inset:0;

    background:
    linear-gradient(
        135deg,
        rgba(0,245,255,.15),
        rgba(157,0,255,.15)
    );

}



.hero-content{

    position:relative;
    max-width:900px;

}



.hero h1{

    font-size:70px;

    background:
    linear-gradient(
        90deg,
        #00f5ff,
        #b000ff
    );

    -webkit-background-clip:text;
    color:transparent;

}



.hero h2{

    font-size:35px;
    margin:15px 0;

}



.hero p{

    font-size:20px;
    color:#ccc;

}




/* BADGES */


.badges{

    margin:30px 0;

}


.badges span,
.skills span,
.tags span{


    display:inline-block;

    padding:10px 20px;

    margin:8px;

    border-radius:30px;

    background:
    rgba(255,255,255,.08);

    border:1px solid rgba(255,255,255,.15);

    backdrop-filter:blur(10px);

}



/* BUTTONS */


.btn{

    display:inline-block;

    padding:15px 35px;

    margin:10px;

    border-radius:30px;

    transition:.3s;

}



.neon{

    background:#00f5ff;

    color:#000;

    box-shadow:
    0 0 20px #00f5ff;

}


.outline{

    border:2px solid #00f5ff;

}



.btn:hover{

    transform:translateY(-5px);

}



/* =========================
 TITLES
========================= */


.section-title{

    text-align:center;

    font-size:40px;

    margin-bottom:50px;


    background:
    linear-gradient(
    90deg,
    #00f5ff,
    #9d00ff
    );


    -webkit-background-clip:text;

    color:transparent;

}




/* =========================
 ABOUT
========================= */


.about p{

    max-width:800px;

    margin:auto;

    text-align:center;

    line-height:2;

    color:#ccc;

}



/* =========================
 EXPERIENCE
========================= */


.experience-card{


    max-width:800px;

    margin:auto;

    padding:35px;


    background:
    rgba(255,255,255,.05);


    border-radius:20px;


    border:1px solid rgba(255,255,255,.1);


}



.experience-card li{

    margin:15px;

    color:#ddd;

}




/* =========================
 PROJECTS
========================= */


.projects-grid{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));


gap:40px;


}




.project-card{


background:
rgba(255,255,255,.06);


border-radius:25px;


overflow:hidden;


border:1px solid rgba(255,255,255,.1);


transition:.4s;


}



.project-card:hover{


transform:
translateY(-15px);


box-shadow:
0 0 30px rgba(0,245,255,.3);


}




.card-image img{


width:100%;

height:220px;

object-fit:cover;


}



.card-content{


padding:25px;


}



.card-content p{


color:#bbb;

margin:15px 0;


}




.project-btn{


cursor:pointer;

color:#00f5ff;

font-weight:600;


}





/* =========================
 SKILLS
========================= */


.skills{


text-align:center;


}



/* =========================
 CONTACT
========================= */


.contact{


    position:relative;

    padding:100px 10%;


    text-align:center;


    background:

    linear-gradient(
        180deg,
        #050816,
        #02030a
    );


    overflow:hidden;


}



.contact::before{


    content:"";

    position:absolute;

    width:400px;

    height:400px;

    top:-200px;

    left:50%;

    transform:translateX(-50%);


    background:#00f5ff;


    filter:blur(150px);

    opacity:.25;


}




.contact h2{


    position:relative;


    font-size:42px;


    background:

    linear-gradient(
        90deg,
        #00f5ff,
        #9d00ff
    );


    -webkit-background-clip:text;

    color:transparent;


}



.contact p{


    position:relative;

    margin:25px;

    color:#aaa;

    font-size:18px;


}



/* SOCIAL BUTTONS */


.icons{


    display:flex;

    justify-content:center;

    gap:25px;

    margin-top:35px;


}



.icons a{


    width:130px;

    padding:15px;


    border-radius:30px;


    border:

    1px solid rgba(0,245,255,.4);



    color:#00f5ff;


    background:

    rgba(255,255,255,.05);



    transition:.4s;


}




.icons a:hover{


    background:#00f5ff;

    color:#000;


    box-shadow:

    0 0 25px #00f5ff;


    transform:

    translateY(-8px);


}



/* FOOTER LINE */


.contact::after{


    content:"© 2026 Amal Kacem | AR/VR Developer";


    position:absolute;

    bottom:20px;

    left:0;

    width:100%;


    color:#555;

    font-size:14px;


}

/* HOVER GLOW */


.nav-links a:hover{

    text-shadow:

    0 0 10px #00f5ff;

}

/* =========================
 PROJECT DETAILS PAGE
========================= */


.project-hero{

    min-height:80vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding-top:120px;

}



.project-hero h1{


font-size:60px;


background:

linear-gradient(
90deg,
#00f5ff,
#9d00ff
);


-webkit-background-clip:text;

color:transparent;


}



.project-hero img{


width:70%;

max-width:900px;

margin-top:40px;

border-radius:25px;


box-shadow:

0 0 40px rgba(0,245,255,.3);


}




.project-video{


width:80%;

border-radius:20px;

display:block;

margin:auto;


}



.section ul{

max-width:800px;

margin:auto;


}


.section li{


margin:15px;

color:#ccc;


}


.project-video{
    max-width:1000px;
    margin:50px auto;
}

.project-video iframe{
    width:100%;
    aspect-ratio:9/16;   /* Vertical Shorts */
    border:none;
    border-radius:20px;
}
}
